<html>
<head>
<link rel="icon" href="data:;base64,=">
<script src="statics/jquery.min.js"></script>
<script>
    const perfData = window.performance.timing; 
    function senddata(){
        $("#galatency").empty()
		$("#directlatency").empty()
        var start = new Date().getTime();             
        var d1 = $.get("http://13.248.219.121/health",function(result){
            galatency = Math.round((new Date().getTime() - start)/2);
            console.log("GALatency: " + galatency);
        })
        var d2 = $.get("http://54.255.250.157/health",function(result){
            directlatency = Math.round((new Date().getTime() - start)/2);
            console.log("DirectLatency: " + directlatency);
        })
        $.when(d1, d2).done(function() {
		    var url = "http://54.255.250.157:8888/data"
		    var request = new XMLHttpRequest();
		    request.open("POST", url);
		    var latencydata = {"directlatency":directlatency,"galatency":galatency};
		    request.send(JSON.stringify(latencydata));
			$("p#galatency").html("ga延迟"+galatency);
			$("p#directlatency").html("direct延迟"+directlatency);
        });
    }
</script>
</head>
<body>
<span id="car_control" class="car">
    <button class="top" onmousedown="senddata()" onmouseup="">开始测试</button>
</span>
<p id='galatency'></p>
<p id='directlatency'></p>
</body>
</html>
