<html>
<head>
<link rel="icon" href="data:;base64,=">
<script src="statics/jquery.min.js"></script>
<script>
    var start = new Date;
    $.ajax({
	    type: "GET",
	    url: "http://13.248.219.121/health",
	    cache:false,
	    success: function(output){ 
		    galatency = new Date - start;
		    console.log("GALatency: " + galatency);
		}
	});
    $.ajax({
	    type: "GET",
	    url: "http://54.255.250.157/health",
	    cache:false,
	    success: function(output){ 
			directlatency = new Date - start;
			console.log("DirectLatency: " + directlatency);
		}
	});
    function senddata(){
	    var url = "http://54.255.250.157/data"
	    var request = new XMLHttpRequest();
	    request.open("POST", url);
	    var latencydata = {"directlatency":directlatency,"galatency":galatency}
	    request.send(JSON.stringify(latencydata))
	}
</script>
</head>
<body>
<span id="car_control" class="car">
<button class="top" onmousedown="senddata()" onmouseup="">发送数据</button>
</span>
</body>
</html>
